<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body class="about-us-page">

    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2 style="text-align:center ;">About Us</h2>
        <p style="text-align: center;">Welcome to this blog page where you can post your blogs</p>
    </div>

    <%- include('./partials/footer.ejs')  %> 
</body>

</html>